mat-form-field{
    margin-right: 10px;
}
.form-section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.total-section{
    display: flex;
    justify-content: flex-end;
}
.total-section > .total-detail{
    width: 192px;
}