<div class="form-section" *ngIf="ledgets.length > 0">
  <button mat-raised-button color="primary" (click)="addNewSectionForm()">
      Add
  </button>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div formArrayName="arrayTestForm" *ngFor="let formElement of arrayForm; let i = index;" >
        <div [formGroupName]="i">
            <mat-form-field>
                <input type="text" 
                 matInput 
                 name="ledget" 
                 placeholder="Ledget*"
                 [formControl]="myControl[i]"
                 formControlName="ledget"
                 [(ngModel)]= "arrayValues[i].ledget"
                 (blur)= "formElement.get('ledget').touched = true"
                 [matAutocomplete]="auto">
                 <mat-error>Ledget is required</mat-error>
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of ladgetFilter | async" [value]="option.number">{{option.name}}</mat-option>
            </mat-autocomplete>
            <mat-form-field>
                <input 
                [attr.disabled]="arrayValues[i].credit"
                matInput
                type="number" 
                name="debit" 
                id="" 
                placeholder="debit*"
                (click)="indexInput = i"
                [(ngModel)]= "arrayValues[i].debit"
                (blur)= "valueHasChanged(arrayValues[i].debit,  formElement.get('credit'))"
                formControlName="debit">
                <mat-error>Debit is required</mat-error>
            </mat-form-field>
            <mat-form-field >
                <input 
                matInput
                [attr.disabled]="arrayValues[i].debit"
                type="number" 
                name="credit" 
                id="" 
                placeholder="credit*"
                (click)="indexInput = i"
                [(ngModel)]= "arrayValues[i].credit"
                (change)= "valueHasChanged(arrayValues[i].credit, formElement.get('debit'))"
                formControlName="credit">
                <mat-error>Credit is required</mat-error>
            </mat-form-field>
            </div>
      </div>
      <div class="total-section">
        
      <div class="total-detail">Total Debit: <span> {{showTotalDebit()}} </span></div>
      <div class="total-detail">Total Credit: <span> {{showTotalCredit()}} </span></div>
      </div>
      
      <button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid">
        Submit
      </button>

      <div *ngIf="showError && (submitted == true)">
        ERROR, Debit should have the same total than credit
      </div>
      <div *ngIf="!showError &&  (submitted == true)">
        Success
        </div>
  </form>
</div>
<div class="form-section" *ngIf="!ledgets.length > 0">
    <h1>Loading Form...</h1>
</div>

